<nav {% if site.reverse == true %}id="nav-left"{% else %}id="nav"{% endif %}>
  <div id="nav-list">
    <a href="{{ site.baseurl }}">Articles</a>

		<!-- Nav pages -->
    <a href="/category.html" title="Archive">Archive</a>
    <a href="/projects.html" title="Projects">Projects</a>
    <!-- Nav links -->
    <a href="https://github.com/yyang/" target="_new" title="Github">Github</a>
    <a href="/about.html" title="About">About</a>
    <a href="#" title="Chinese Essay">中文评论</a>

  </div>

  <!-- Nav footer -->
  {% include nav-footer.html %}

</nav>
